html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat";
}

#hero {
  height: 90vh;
}

.login-container {
  height: 80vh;
}

.player-list:hover {
  cursor: pointer;
  background-color: #343a40;
  color: #fff;
}

.default-user-img {
  width: 40px;
  height: auto;
}

.dropDown {
  left: -40px !important;
}